<form ng-submit="formCtlr.addCard()">
<div class="form-group">
  <label class="col-sm-12">Card Holder</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="formCtlr.card.cardholder.fname" required>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="formCtlr.card.cardholder.lname" required>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <label for="cardnumber">Card Number</label>
    <input type="text" class="form-control" id="cardnumber" placeholder="xxxx-xxxx-xxxx-xxxx" ng-model="formCtlr.card.number" required>
  <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>

</form>